.u-section-1 .u-sheet-1 {
  min-height: 1001px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 941px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 18px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  margin: 28px 674px 0 15px;
}

.u-section-1 .u-image-1 {
  width: 454px;
  height: 440px;
  margin: -47px 0 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2;
  margin: -334px 471px 0 8px;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2;
  margin: 8px 471px 0 8px;
}

.u-section-1 .u-text-4 {
  font-size: 3rem;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  margin: -2px 674px 0 15px;
}

.u-section-1 .u-text-5 {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2;
  margin: 25px 471px 0 8px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 707px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 776px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 156px;
    margin-right: 589px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    width: 410px;
    height: 529px;
    margin-top: -142px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: -327px;
    margin-right: 379px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 279px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 489px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 279px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 253px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 479px;
  }

  .u-section-1 .u-image-1 {
    width: 300px;
    height: 387px;
    margin-top: -199px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -128px;
    margin-right: 269px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 59px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 269px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 59px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 324px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 535px;
    margin-right: auto;
  }

  .u-section-1 .u-image-1 {
    margin-top: -464px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 137px;
    margin-right: auto;
  }

  .u-section-1 .u-text-3 {
    margin-right: auto;
  }

  .u-section-1 .u-text-4 {
    margin-top: -82px;
    margin-right: 129px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 1500px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 407px;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 278px;
    height: 287px;
    margin-top: -495px;
    margin-right: 17px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 268px;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 104px;
    margin-right: -10px;
    margin-left: 10px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
  }
}