.u-section-1 .u-sheet-1 {
  min-height: 734px;
}

.u-section-1 .u-image-1 {
  width: 409px;
  height: 415px;
  margin: 78px 161px 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: -472px 755px 0 0;
}

.u-section-1 .u-line-1 {
  width: 259px;
  height: 3px;
  transform-origin: left center;
  margin: 30px auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 30px 989px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 30px 0 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 30px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-top: 342px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -689px;
    margin-right: 589px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 789px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 369px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 569px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-top: 264px;
    margin-right: 131px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -592px;
    margin-right: 301px;
  }

  .u-section-1 .u-line-1 {
    width: 179px;
    height: 8px;
  }

  .u-section-1 .u-text-2 {
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 664px;
  }

  .u-section-1 .u-image-1 {
    height: 257px;
    width: 260px;
    margin-top: 159px;
    margin-right: auto;
    margin-left: 26px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: -403px;
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-1 .u-line-1 {
    transform-origin: left center 0px;
    margin-top: 331px;
    margin-left: 14px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -322px;
    margin-right: -14px;
    margin-left: 14px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 309px;
    margin-right: auto;
    margin-left: 10px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 39px;
    margin-bottom: 54px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1482px;
}

.u-section-2 .u-text-1 {
  font-family: "Archivo Black";
  font-size: 3.75rem;
  width: 771px;
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  font-style: italic;
  font-size: 1.125rem;
  margin: 16px 268px 0;
}

.u-section-2 .u-list-1 {
  width: 822px;
  min-height: 1194px;
  grid-template-rows: auto auto auto;
  height: auto;
  margin: 89px auto 60px;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  grid-auto-rows: calc(33.33% - 6.66667px);
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0 30px 30px;
}

.u-section-2 .u-image-1 {
  width: 308px;
  height: 308px;
  background-image: url("images/05f395f2-261a-9cbe-11e8-df53c08c2de4.jpeg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-2 .u-group-1 {
  width: 464px;
  min-height: 331px;
  margin: -308px 0 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 0 0 30px;
}

.u-section-2 .u-text-3 {
  text-transform: uppercase;
  font-size: 2.25rem;
  margin: 0;
}

.u-section-2 .u-line-1 {
  height: 3px;
  transform-origin: left center;
  margin: 16px auto 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: none none solid;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 0 30px 30px;
}

.u-section-2 .u-image-2 {
  width: 308px;
  height: 308px;
  background-image: url("images/6ed00232-f369-a694-4851-fb40e3d28f49.jpeg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-2 .u-group-2 {
  width: 464px;
  min-height: 331px;
  background-size: auto;
  margin: -308px 0 0 auto;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 0 0 30px;
}

.u-section-2 .u-text-4 {
  text-transform: uppercase;
  font-size: 2.25rem;
  margin: 0;
}

.u-section-2 .u-line-2 {
  height: 3px;
  transform-origin: right center;
  margin: 16px auto 0 0;
}

.u-section-2 .u-btn-2 {
  border-style: none none solid;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 0 30px 30px;
}

.u-section-2 .u-image-3 {
  width: 308px;
  height: 308px;
  background-image: url("https://i2.wp.com/golososdelmundo.com/wp-content/uploads/2016/04/gringa-al-pastor3.jpg?fit=1024%2C710");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-2 .u-group-3 {
  width: 464px;
  min-height: 331px;
  background-size: auto;
  margin: -308px 0 0 auto;
}

.u-section-2 .u-container-layout-6 {
  padding: 0 0 0 30px;
}

.u-section-2 .u-text-5 {
  text-transform: uppercase;
  font-size: 2.25rem;
  margin: 0;
}

.u-section-2 .u-line-3 {
  height: 3px;
  transform-origin: right center;
  margin: 16px auto 0 0;
}

.u-section-2 .u-btn-3 {
  border-style: none none solid;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 20px auto 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    margin-left: 168px;
    margin-right: 168px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-rows: calc(33.33% - 6.666666666666667px);
  }

  .u-section-2 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-line-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-line-3 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 58px;
    margin-right: 58px;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
  }

  .u-section-2 .u-group-1 {
    width: 396px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 0;
  }

  .u-section-2 .u-group-2 {
    width: 396px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 0;
  }

  .u-section-2 .u-group-3 {
    width: 396px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2374px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
    font-size: 3rem;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-list-1 {
    min-height: 1988px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-1 {
    width: 325px;
    height: 325px;
  }

  .u-section-2 .u-group-1 {
    min-height: 258px;
    width: 541px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 0;
  }

  .u-section-2 .u-image-2 {
    width: 325px;
    height: 325px;
  }

  .u-section-2 .u-group-2 {
    min-height: 258px;
    width: 541px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 0;
  }

  .u-section-2 .u-image-3 {
    width: 325px;
    height: 325px;
  }

  .u-section-2 .u-group-3 {
    min-height: 258px;
    width: 541px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 61px;
    margin-left: 0;
    margin-right: 0;
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 15px;
  }

  .u-section-2 .u-image-1 {
    margin-left: auto;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-image-2 {
    margin-left: auto;
  }

  .u-section-2 .u-group-2 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-image-3 {
    margin-left: auto;
  }

  .u-section-2 .u-group-3 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.5rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1001px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 941px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 18px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  margin: 28px 674px 0 15px;
}

.u-section-3 .u-image-1 {
  width: 454px;
  height: 440px;
  margin: -47px 0 0 auto;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2;
  margin: -334px 471px 0 8px;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2;
  margin: 8px 471px 0 8px;
}

.u-section-3 .u-text-4 {
  font-size: 3rem;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  margin: -2px 674px 0 15px;
}

.u-section-3 .u-text-5 {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2;
  margin: 25px 471px 0 8px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 707px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 776px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 156px;
    margin-right: 589px;
    margin-left: 0;
  }

  .u-section-3 .u-image-1 {
    width: 410px;
    height: 529px;
    margin-top: -142px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-top: -327px;
    margin-right: 379px;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 279px;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 489px;
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 279px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 253px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 479px;
  }

  .u-section-3 .u-image-1 {
    width: 300px;
    height: 387px;
    margin-top: -199px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -128px;
    margin-right: 269px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 59px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 269px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 59px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 324px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 535px;
    margin-right: auto;
  }

  .u-section-3 .u-image-1 {
    margin-top: -464px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 137px;
    margin-right: auto;
  }

  .u-section-3 .u-text-3 {
    margin-right: auto;
  }

  .u-section-3 .u-text-4 {
    margin-top: -82px;
    margin-right: 129px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 1500px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 407px;
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    width: 278px;
    height: 287px;
    margin-top: -495px;
    margin-right: 17px;
    margin-left: auto;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 268px;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    font-size: 1rem;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 104px;
    margin-right: -10px;
    margin-left: 10px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
  }
}
