.u-section-1 .u-sheet-1 {
  min-height: 1765px;
}

.u-section-1 .u-text-1 {
  font-family: "Archivo Black";
  font-size: 3.75rem;
  width: 771px;
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  font-size: 1.125rem;
  margin: 16px 268px 0;
}

.u-section-1 .u-list-1 {
  width: 822px;
  min-height: 1446px;
  grid-template-rows: auto auto auto;
  height: auto;
  margin: 89px auto 60px;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  grid-auto-rows: calc(33.33% - 6.66667px);
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0 30px 30px;
}

.u-section-1 .u-image-1 {
  width: 308px;
  height: 308px;
  background-image: url("https://scontent.fgdl3-1.fna.fbcdn.net/v/t1.6435-9/183486731_100786572192082_7366816167432538293_n.jpg?_nc_cat=108&ccb=1-3&_nc_sid=730e14&_nc_eui2=AeGvZVh--2MkTxGbHKhmIJrXa2FFHW8S2VJrYUUdbxLZUiORijofMp5ka2kFgAKM9LE&_nc_ohc=JKpPD8Fn7KsAX8BlzPy&_nc_ht=scontent.fgdl3-1.fna&oh=7eadb5749f27f4aa5c9a4f425811b6ab&oe=60B86714");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-3 {
  margin: -273px 32px 0 337px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  background-image: none;
  margin: 0 auto 0 337px;
  padding: 11px 50px 11px 49px;
}

.u-section-1 .u-icon-1 {
  font-size: 1.3em;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0 30px 30px;
}

.u-section-1 .u-image-2 {
  width: 308px;
  height: 308px;
  background-image: url("https://scontent.fgdl3-1.fna.fbcdn.net/v/t1.6435-9/183370792_100785745525498_1632302375739129837_n.jpg?_nc_cat=111&ccb=1-3&_nc_sid=730e14&_nc_eui2=AeH_e3UNbZBOfWn7YhAdFoaM3RFrHafUQdjdEWsdp9RB2E9w0opYHLp00T0PIXc5L_E&_nc_ohc=p_xtOGX4PAoAX9bhZ_Y&_nc_ht=scontent.fgdl3-1.fna&oh=167d2bfed0aad7da8437ceb88ffb00fb&oe=60B8C9F1");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-4 {
  margin: -273px 32px 0 337px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  background-image: none;
  margin: 0 auto 0 337px;
  padding: 11px 50px 11px 49px;
}

.u-section-1 .u-icon-2 {
  font-size: 1.3em;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 0 30px 30px;
}

.u-section-1 .u-image-3 {
  width: 308px;
  height: 308px;
  background-image: url("https://scontent.fgdl3-1.fna.fbcdn.net/v/t1.6435-9/186080031_105221871748552_290206586916882749_n.jpg?_nc_cat=110&ccb=1-3&_nc_sid=730e14&_nc_eui2=AeEx-uDc4wA-daA8AZj7THJwh1OrDa4w5sWHU6sNrjDmxSyt_hyYGb8erswzfa2Eu1A&_nc_ohc=dMe3g3XpGu8AX_mKzhm&_nc_ht=scontent.fgdl3-1.fna&oh=101d63dd2e55578022cbc8701a2d2e7c&oe=60C343AD");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-5 {
  margin: -273px 32px 0 337px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  background-image: none;
  margin: 0 auto 0 337px;
  padding: 11px 50px 11px 49px;
}

.u-section-1 .u-icon-3 {
  font-size: 1.3em;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-left: 168px;
    margin-right: 168px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-rows: calc(33.33% - 6.666666666666667px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1482px;
  }

  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 58px;
    margin-right: 58px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
    min-height: 1194px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: 7px;
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: 13px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 71px;
    margin-left: 206px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 0;
  }

  .u-section-1 .u-image-2 {
    margin-top: 7px;
    margin-left: auto;
  }

  .u-section-1 .u-text-4 {
    margin-top: 13px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 71px;
    margin-left: 206px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 0;
  }

  .u-section-1 .u-image-3 {
    margin-top: 7px;
    margin-left: auto;
  }

  .u-section-1 .u-text-5 {
    margin-top: 13px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 71px;
    margin-left: 206px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2374px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    min-height: 1988px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    width: 325px;
    height: 325px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 107px;
  }

  .u-section-1 .u-image-2 {
    width: 325px;
    height: 325px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 107px;
  }

  .u-section-1 .u-image-3 {
    width: 325px;
    height: 325px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 107px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 61px;
    margin-left: 0;
    margin-right: 0;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 15px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }
}
